.no-org-msg{
  padding: 15px;
  font-size: 16px;
  color: red;
  background: #ff000012;
  margin-bottom: 15px;
  border-radius: 5px;
}
.select {
  margin-right: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
